@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Diplomata+SC&family=Fredericka+the+Great&family=Indie+Flower&family=Shadows+Into+Light&display=swap');

main {
  background-image: url(gilded_rose.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  font-family: 'Diplomata SC', cursive;
  background-color: hsl(45, 35%, 78%);
  text-align: center;
  padding: 5px;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
}

div {
  font-family: 'Cinzel Decorative', cursive;
  font-size: larger;
  font-weight: bold;
  width: 100%;
}

#entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}

.review-inventory {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  align-self: center;
  margin: 3% 10%;
  border: 2px solid hsl(44, 97%, 35%);
}

input {
  background-color: hsl(44, 45%, 70%);
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center;
  padding: 2px;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background-color: hsl(45, 14%, 66%);
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

#table {
  table-layout: fixed;
  font-family: 'Shadows Into Light', cursive;
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
  text-align: center;
}

thead {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}

tr td:nth-child(1) {
  width: 30%;
}

tr td:nth-child(2) {
  width: 30%;
}

tr td:nth-child(3) {
  width: 30%;
}

tbody {
  text-align: center;
}